

<div class="container-fluid">

    <div class="card card-primary">
        <div class="card-header">
            <div class="row">
                <h3 class="card-title"><span class="fa fa-search"></span> Style-Planner History</h3>
            </div>
        </div>
        <div class="card-body row">


            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-arrow-down"></i>
                            Style & Po Wise
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="styleNo">Style No.</label>
                            <input type="text" class="form-control" id="styleNo" placeholder="Enter Style No.">
                        </div>
                       

                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-arrow-down"></i>
                            Date Wise
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">


                        <fieldset class="border p-2" id="orderDiv">
                            <legend class="w-auto" style="font-size:12px;">Order Date:</legend>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="orderFromDate">From Date</label>
                                        <input type="date" class="form-control" id="orderFromDate" placeholder="Enter Date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="orderToDate">To Date</label>
                                        <input type="date" data-date-format="DD MMMM YYYY" class="form-control" id="orderToDate" placeholder="Enter Date">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        
                    </div>

                  

                </div>
            </div>
            <!-- /.card-body -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-arrow-down"></i>
                            Buyer & Merchant
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group" id="divBuyer">
                            <label>Buyer</label>
                            <input type="text" class="form-control" id="buyer" placeholder="Enter Po. No.">
                        </div>
                        <div class="form-group" id="divMerchant">
                            <label>Merchantdiser</label>
                            <input type="text" class="form-control" id="marchent" placeholder="Enter Po. No.">
                        </div>
                        <div class="form-group" id="divTeam">
                            <label>Team Name</label>
                            <input type="text" class="form-control" id="teamHead" placeholder="Enter Po. No.">
                        </div>

                    </div>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" onclick="GetAllStyle()" id="processButton" class="float-right btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row" id="StyleListView">

    </div>

</div>
<div class="col-md-12 col-xs-12 text-center" id="testSpan" style="display: none">

    <span>
        Please wait Data is loading -
        <img src="~/assets/img/dataTableLoader.gif" />
        @*<img src="~/assets/img/loading-2.gif" />*@
    </span>

</div>
@section Scripts{
    <script>
        $(function () {
           
            $("#styleNo").autocomplete({

                source: function (request, response) {
                    $.ajax({
                        url: apiHeader + "api/Common/GetStlNo/" + request.term,
                        dataType: "json",
                        success: function (data) {
                            var stl = [];
                            $.each(data, function (i, item) {
                                stl.push(item.StlDesc);
                            });
                            response(stl);

                        }
                    });
                },
                minLength: 3,

            });


        });


        function GetAllStyle() {

            var StyleNo = $('#styleNo').val();
            var Buyer = $('#buyer').val();
            var Marchant = $('#marchent').val();
            var TeamHead = $('#teamHead').val();
            var OrderFromDate =  $('#orderFromDate').val();
            var OrderToDate = $('#orderToDate').val();
            var entity = {
                StyleNo: StyleNo,
                Buyer: Buyer,
                Marchant: Marchant,
                TeamHead: TeamHead,
                OrderFromDate: OrderFromDate,
                OrderToDate: OrderToDate
            };
            window.open(reportHeader + "Report/PlanHistory?fromDate=" + OrderFromDate + "&" + "toDate=" + OrderToDate + "&" + "styleId=" + StyleNo + "&" + "buyerId=" + Buyer + "&" + "hod=" + TeamHead + "&" + "Marchant=" + Marchant, '_blank');

        }


    </script>
}
