
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Password Reset</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="divOrderDate">
                                    <label for="txtOrderDate">User Name</label>
                                    <input type="text" id="UserName" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString(SessionCollection.UserName)" disabled />
                                    <input type="hidden" id="UserId" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString(SessionCollection.UserId)" />
                                    <input type="hidden" id="userCode" class="form-control" value="@HttpContextAccessor.HttpContext.Session.GetString(SessionCollection.UserCode)" />
                                </div>
                                <div class="form-group" id="passDiv">
                                    <label for="txtOrderDate">Password</label>
                                    <input type="password" id="newPassword" autocomplete="off"  class="form-control" />

                                </div>
                                <div class="form-group" id="confDiv">
                                    <label for="txtOrderDate">Confirm Password</label>
                                    <input type="password" id="confirmpassowrd" class="form-control" />
                                    <label id="MatchMsg" style="color:red"></label>
                                </div>
                            </div>
                        </div>
                    </div>



                </form>
                <div class="card-footer">
                    <button type="submit" onclick="Add()" class="float-right btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#confirmpassowrd").keyup(checkPasswordMatch);
        });

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        function checkPasswordMatch() {
            var password = $("#newPassword").val();
            var confirmPassword = $("#confirmpassowrd").val();
            if (password != confirmPassword)
                $("#MatchMsg").html("Passwords does not match!");
            else
                $("#MatchMsg").html("Passwords match.").css('color', 'green');
        }
        
        function Add() {
            var obj = {
                UserId: parseInt( $('#UserId').val()),
                UserCode: $('#userCode').val(),
                Password: $('#newPassword').val()

            };
            $.ajax({
                type: "POST",
                url: apiHeader + 'api/UserControl/SavePassword',
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(obj),
                success: function (result) {
                    if (result = 'Data Saved Successful') {
                        Toast.fire({
                            icon: 'success',
                            title: result
                        })
                        $('#passDiv').hide();
                        $('#confDiv').hide();
                        $("#MatchMsg").html("Passwords Changed.").css('color', 'green');
                    }
                    
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        function LoadData() {
            $.ajax({
                url: apiHeader + 'api/TaskTypes/GetTaskTypes',
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $.ajax({
                        url: apiHeader + 'api/TaskTypes/GetTaskTypes',
                        type: "GET",
                        dataType: "json",
                        success: function (result) {
                            $('#' + elementId + '').empty();
                            $('#' + elementId + '').append("<option value='0'>--Select Task Type--</option>");

                            for (var i = 0; i < result.length; i++) {

                                $('#' + elementId + '').append($("<option></option>").val(result[i].TaskTypeId).html(result[i].TastTypeName));
                            }
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>
}

