@model SweaterPlanning.Models.CapacityAllocate

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CapacityAllocate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CapacityAllocateId" />
            <div class="form-group">
                <label asp-for="MarchantId" class="control-label"></label>
                <select asp-for="MarchantId" class="form-control" asp-items="ViewBag.MarchantId"></select>
                <span asp-validation-for="MarchantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerId" class="control-label"></label>
                <select asp-for="BuyerId" class="form-control" asp-items="ViewBag.BuyerId"></select>
                <span asp-validation-for="BuyerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearId" class="control-label"></label>
                <select asp-for="YearId" class="form-control" asp-items="ViewBag.YearId"></select>
                <span asp-validation-for="YearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthId" class="control-label"></label>
                <select asp-for="MonthId" class="form-control" asp-items="ViewBag.MonthId"></select>
                <span asp-validation-for="MonthId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="GaugeId" class="control-label"></label>
                <select asp-for="GaugeId" class="form-control" asp-items="ViewBag.GaugeId"></select>
                <span asp-validation-for="GaugeId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="GaugeGroupId" class="control-label"></label>
                <select asp-for="GaugeGroupId" class="form-control" asp-items="ViewBag.GaugeGroupId"></select>
                <span asp-validation-for="GaugeGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllocateQty" class="control-label"></label>
                <input asp-for="AllocateQty" class="form-control" />
                <span asp-validation-for="AllocateQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
